name: trigger jenkins job
on:
  pull_request:
    branches:
      - master
    types: [closed]
jobs:
  build:
    name: Build
    runs-on: ubuntu
    if: github.event.pull_request.merged == true
    steps:
    - name:  trigger single Job
      uses: Kiran-dehlikar/jenkins-docker-git@master
      with:
        url: "http://65.0.71.13:8080/"
        user: "admin"
        token: "trigger_build"
        job: "jenkins-pull-build"
