on:
  pull_request:
    branches:
      - master
    types: [closed]
jobs:
  build:
    name: Build
    runs-on: ubuntu
    if: github.event.pull_request.merged == true
    steps:
    - name:  trigger single Job
      uses: Kiran-dehlikar/jenkins-docker-git@master
      with:
        url: "http://3.109.206.238:8080/"
        user: "admin"
        token: ${{ SECRETS_TOKEN }}
        job: "jenkins-pull-build"
